/* Google font import - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Colors */
.primary-color {
  color: #ec5242;
}

.seconday-dark {
  color: #272a32;
}

.bg-seconday-dark {
  background-color: #272a32;
}

.secondary-light {
  color: #d3d3d3;
}

.secondary-light-bg {
  background-color: #d3d3d3;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: #565656;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Header Styles */

.logo img {
  width: 200px;
}

.top-header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #272a32;
  color: #fff;
}

.fa-facebook-f,
fa-twitter {
  color: #fff;
}

.top-header-links {
  font-size: 14px;
}

nav {
  height: 66px;
  line-height: 66px;
}

.nav-links {
  color: #272a32;
}

.nav-links:hover {
  color: #ec5242;
}

.nav-links.active {
  color: #ec5242;
}

.promo {
  height: 40px;
  border: 3px solid #ec5242;
  padding: 1px 8px;
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec5242;
}

.promo:hover {
  color: #f16151;
}

.mobile-nav {
  display: none;
}

/* Hero Section Styles */
.hero-section {
  width: 100%;
  height: 100vh;
  height: calc(100vh - 90px);
  padding: 100px 0;
  background-image: url('../images/Hero\ Background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-intro p {
  font-size: 20px;
  font-weight: 100;
  color: #ec5242;
}

.hero-intro h1 {
  font-size: 60px;
  font-weight: 600;
  color: #ec5242;
}

.hero-description {
  width: 50%;
  padding: 10px 20px;
  border: 4px solid #fff;
}

.program-schedule {
  width: 50%;
  margin-top: 12px;
}

.program-schedule h4 {
  font-size: 35px;
  font-weight: 600;
}

.program-schedule p {
  font-size: 22px;
  margin-bottom: 20px;
}

.enroll-button {
  background-color: #ec5242;
  color: #fafafa;
  padding: 15px 50px;
  font-size: 20px;
}

.enroll-button:hover {
  color: #fafafa;
  border: 2px solid #ec5242;
  background-color: transparent;
  color: #ec5242;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

.more-programs:hover {
  transition: 0.6s ease-in-out;
  transform: scale(1.02);
}

/* Main Programs */
.main-programs {
  width: 100%;
  padding: 100px 0;
  background-image: url('../images/Background\ Shapes.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #272a32;
}

.line {
  width: 70px;
  height: 2px;
  margin: auto;
  background-color: #ec5242;
}

.program {
  width: 20%;
  padding: 30px 20px;
  background-color: #8181815b;
}

.program:hover {
  cursor: pointer;
  transition: 0.6s ease-in-out;
  transform: scale(1.02);
}

.program h3 {
  font-size: 20px;
}

.program h3 {
  font-weight: bold;
  color: #fe4a3b;
}

.more-programs {
  display: inline-block;
  font-size: 24px;
  margin-top: 20px;
}

/* Featured Tutors */
.featured-tutors {
  width: 100%;
  padding: 70px 0;
  background-color: #fff;
}

.featured-tutors h2 {
  font-weight: 600;
}

.speaker-line {
  width: 30px;
  height: 3px;
}

.featured-left {
  width: 50%;
  margin: 20px 30px;
}

.featured-right {
  width: 50%;
  margin: 20px 30px;
}

.left-speaker .image {
  width: 50%;
  position: relative;
}

.image .image-left {
  width: 30%;
  position: absolute;
}

.image .image-top {
  position: absolute;
  top: 20px;
  left: 21px;
  width: 100%;
}

.image-top:hover {
  transition: 0.6s ease-in-out;
  transform: scale(1.05);
}

.speaker-info {
  width: 50%;
  padding: 30px 0;
  margin-left: 60px;
}

.speaker-info h4 {
  font-weight: bold;
}

/* Partners Section */
.partners {
  width: 100%;
  padding: 70px 0;
  background-color: #272a32;
}

.partners-logos {
  margin-top: 40px;
}

.partner-logo-div {
  width: 20%;
  margin: 10px 20px;
}

.partner-logo-div img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo-div img:hover {
  transition: 0.6s ease-in-out;
  transform: scale(1.4);
}

/* Footer Section */
footer {
  width: 100%;
  padding: 70px 0;
  background-color: #fff;
}

.footer-devbootcamp-logo:hover {
  transition: 0.6s ease-in-out;
  transform: scale(1.04);
}

.footer-info {
  padding: 40px;
}

.footer-info h4 {
  font-weight: bold;
}

/* ABOUT PAGE */
/* Hero Section */
.about-hero {
  width: 100%;
  height: 100vh;
  height: calc(100vh - 90px);
  padding-top: 115px;
  background-image: url('../images/about/About\ Hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-hero .hero-intro-text {
  display: none;
}

.about-hero h1 {
  font-size: 55px;
  font-weight: bold;
  color: #ec5242;
}

.about-hero-texts {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
}

.amkam-bootcamp-logo {
  width: 100%;
  padding-top: 70px;
  border-top: 2px solid #e9e9e9;
  padding-bottom: 120px;
}

.amkam-bootcamp-logo h2 {
  font-weight: bold;
}

.bootcapm-logo-div {
  padding: 40px;
  border: 2px solid #e9e9e9;
}

.logo-description,
.event-description {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.logo-description .mobile-description {
  display: none;
}

.contact-text {
  margin-top: 50px;
}

/* Past Events */
.past-events {
  width: 100%;
  padding-top: 70px;
  border-top: 2px solid #d3d3d3;
  padding-bottom: 120px;
}

.past-events h2 {
  font-weight: bold;
}

.events .event {
  width: 50%;
  height: 427px;
  margin: 20px 25px;
  text-align: center;
}

.event-year {
  font-size: 45px;
}

.event-left {
  background-image: linear-gradient(
      rgba(226, 34, 34, 0.829),
      rgba(226, 34, 34, 0.829)
    ),
    url('../images/about/trainers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.event-right {
  background-image: linear-gradient(
      rgba(226, 34, 34, 0.829),
      rgba(226, 34, 34, 0.829)
    ),
    url('../images/about/UI-Design.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* CONTACT PAGE */
.contact-form {
  width: 100%;
  padding: 115px 0;
}

.contact-form h2 {
  font-weight: bold;
  color: #272a32;
}

form {
  background-color: #fff;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.335);
}

form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 10px;
}

form textarea {
  padding: 8px 10px;
  margin-bottom: 12px;
}

form button {
  background-color: #ec5242;
  color: #fafafa;
  padding: 8px 50px;
  font-size: 20px;
  border: none;
  width: 100%;
}

form button:hover {
  color: #fafafa;
  border: 2px solid #ec5242;
  background-color: transparent;
  color: #ec5242;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

form button:focus {
  background-color: #ec5242;
}

/* MOBILE RESPONSIVE DESIGNS */
@media (max-width: 768px) {
  /* HOME PAGE MOBILE RESPONSIVE STYLES */
  /* Hide Nav Header and Create Hamburger menu bar styles */
  .top-header,
  nav {
    display: none;
  }

  header {
    position: relative;
  }

  .mobile-nav {
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .mobile-nav div {
    width: 35px;
    height: 4px;
    margin-top: 6px;
    background-color: #272a32;
  }

  /* Hero Section Styles */
  .hero-section {
    padding: 0 20px;
  }

  .hero-intro h1 {
    font-size: 35px;
  }

  .hero-description {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
  }

  .program-schedule {
    width: 100%;
    margin-top: 10px;
  }

  .program-schedule h4 {
    font-size: 25px;
  }

  /* Main Programs Styles */
  .main-programs {
    width: 100%;
    padding: 50px 20px;
  }

  .programs {
    display: flex;
    flex-direction: column;
  }

  .program {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .program i {
    width: 10%;
    margin-right: 20px;
  }

  .program h3 {
    width: 30%;
    font-size: 20px;
    margin-left: 20px;
    align-items: left;
  }

  .program p {
    width: 60%;
    text-align: left;
    margin-left: 20px;
  }

  /* Featured Tutors */
  .featured-tutors {
    width: 100%;
    margin: 20px 0;
    padding: 50px 10px;
  }

  .speaker-row {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .featured-left,
  .featured-right {
    width: 94%;
  }

  .featured-left .image,
  .featured-right .image {
    width: 30%;
  }

  .speaker-info {
    margin-left: 40px;
    padding-right: 20px;
    width: 100%;
  }

  /* Partners Section Styles */

  .partner-logo-div {
    width: 100%;
    margin: 0 6px;
  }
  .partner-logo-div img {
    width: 100%;
  }

  /* Footer Section Styles */

  .footer-info h4 {
    font-size: 18px;
    line-height: 25px;
    padding-top: 40px;
    margin-left: 14px;
  }

  .footer-info {
    padding: 0;
  }

  .footer-info p {
    display: none;
  }

  footer .footer-logo-image img {
    width: 100%;
  }

  /* ABOUT PAGE MOBILE RESPONSIVE STYLES */
  /* Hero Styles */
  .about-hero {
    height: calc(100vh - 90px);
    background-image: url('../images/about/about-hero.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 100px 20px;
  }

  .about-line {
    display: none;
  }

  .about-hero .hero-intro-text {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ec5242;
  }

  .about-hero h1 {
    font-size: 30px;
  }

  .about-hero-texts {
    width: 96%;
    padding: 20px 10px;
    margin-top: 20px;
    background-color: #fff;
  }

  .second-para,
  third-para {
    display: none;
  }

  .contact-text {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .contact-email {
    text-decoration: underline;
  }

  .logo-description {
    width: 80%;
  }

  .desktop-description {
    display: none;
  }

  .logo-description .mobile-description {
    display: block;
    font-size: 18px;
  }

  .second-para, .third-para{
    display: none;
  }

  

  .bootcapm-logo-div img{
    width: 100%;
  }


  /* Events Styles */
  .events {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .events .event,
  .events .event {
    width: 90%;
  }

  /* Footer styles */
  .about-footer {
    width: 90%;
    display: flex;
  }

  .about-footer div {
    width: 50%;
  }

  .about-footer div img {
    width: 100%;
  }
}
